---
http_interactions:
- request:
    method: post
    uri: https://us11.api.mailchimp.com/3.0/lists/<mailchimp_list_id>/members
    body:
      encoding: UTF-8
      string: '{"email_address":"katrina.owen@gmail.com","status":"subscribed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://us11.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us11.admin.mailchimp.com/lists/members/view?id=241827097>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"51ee7bed9ecbc33aec92517f1fbb6cc2","email_address":"katrina.owen@gmail.com","unique_email_id":"e97f0f36c2","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"","LNAME":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"173.172.193.178","timestamp_signup":"2017-06-08T21:49:31+00:00","ip_opt":"173.172.193.178","timestamp_opt":"2017-06-15T02:35:43+00:00","member_rating":2,"last_changed":"2017-06-15T02:35:43+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"<mailchimp_list_id>","_links":[{"rel":"self","href":"https://us11.api.mailchimp.com/3.0/lists/<mailchimp_list_id>/members/51ee7bed9ecbc33aec92517f1fbb6cc2","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us11.api.mailchimp.com/3.0/lists/<mailchimp_list_id>/members","method":"GET","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us11.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us11.api.mailchimp.com/3.0/lists/<mailchimp_list_id>/members/51ee7bed9ecbc33aec92517f1fbb6cc2","method":"PATCH","targetSchema":"https://us11.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us11.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us11.api.mailchimp.com/3.0/lists/<mailchimp_list_id>/m[...]
