---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4991'
      x-ratelimit-reset:
      - '1496070428'
      etag:
      - W/"2eaf444613f95b4a8a30c2c83aa36582"
      last-modified:
      - Fri, 12 May 2017 16:13:45 GMT
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"bar","id":88155,"avatar_url":"https://avatars3.githubusercontent.com/u/88155?v=3","gravatar_id":"","url":"https://api.github.com/users/bar","html_url":"https://github.com/bar","followers_url":"https://api.github.com/users/bar/followers","following_url":"https://api.github.com/users/bar/following{/other_user}","gists_url":"https://api.github.com/users/bar/gists{/gist_id}","starred_url":"https://api.github.com/users/bar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bar/subscriptions","organizations_url":"https://api.github.com/users/bar/orgs","repos_url":"https://api.github.com/users/bar/repos","events_url":"https://api.github.com/users/bar/events{/privacy}","received_events_url":"https://api.github.com/users/bar/received_events","type":"User","site_admin":false,"name":"Ber
        Clausen","company":"eventbrite.com","blog":"twitter.com/berclausen","location":"Argentina","email":"ber.clausen
        [at] gmail [dot] com","hireable":null,"bio":null,"public_repos":42,"public_gists":4,"followers":23,"following":25,"created_at":"2009-05-25T00:11:33Z","updated_at":"2017-05-12T16:13:45Z"}'
  recorded_at: Mon, 29 May 2017 14:09:06 GMT
- request:
    method: get
    uri: https://api.github.com/users/bar/orgs?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '1496070428'
      etag:
      - W/"285332540cbc4ec36d1c3f63706f0e65"
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"eventbrite","id":369874,"url":"https://api.github.com/orgs/eventbrite","repos_url":"https://api.github.com/orgs/eventbrite/repos","events_url":"https://api.github.com/orgs/eventbrite/events","hooks_url":"https://api.github.com/orgs/eventbrite/hooks","issues_url":"https://api.github.com/orgs/eventbrite/issues","members_url":"https://api.github.com/orgs/eventbrite/members{/member}","public_members_url":"https://api.github.com/orgs/eventbrite/public_members{/member}","avatar_url":"https://avatars1.githubusercontent.com/u/369874?v=3","description":""}]'
  recorded_at: Mon, 29 May 2017 14:09:06 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=is%3Apr+author%3Abar+is%3Apublic+created%3A2017-05-26+created%3A2017-05-19+created%3A2017-05-12+created%3A2017-05-05+created%3A2017-04-28+created%3A2017-04-21+created%3A2017-04-14+created%3A2017-04-07+created%3A2017-03-31+created%3A2017-03-24+created%3A2017-03-17+created%3A2017-03-10+created%3A2017-03-03+created%3A2017-02-24+created%3A2017-02-17+created%3A2017-02-10+created%3A2017-02-03+created%3A2017-01-27+c[...]
- request:
    method: get
    uri: https://api.github.com/users/bar/events/public?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4989'
      x-ratelimit-reset:
      - '1496070428'
      etag:
      - W/"5e9a58f8016ce030d70c519d9cf95fb3"
      last-modified:
      - Wed, 17 May 2017 15:40:49 GMT
      x-poll-interval:
      - '60'
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - repo
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5890810099","type":"IssueCommentEvent","actor":{"id":88155,"login":"bar","display_login":"bar","gravatar_id":"","url":"https://api.github.com/users/bar","avatar_url":"https://avatars.githubusercontent.com/u/88155?"},"repo":{"id":11576215,"name":"Perl-Critic/Perl-Critic","url":"https://api.github.com/repos/Perl-Critic/Perl-Critic"},"payload":{"action":"created","issue":{"url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/issues/734","repository_url":"https://api.github.com/repos/Perl-Critic/Perl-Critic","labels_url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/issues/734/labels{/name}","comments_url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/issues/734/comments","events_url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/issues/734/events","html_url":"https://github.com/Perl-Critic/Perl-Critic/issues/734","id":204744350,"number":734,"title":"violation
        source line %r display when blank lines in element","user":{"login":"kryde","id":1286980,"avatar_url":"https://avatars0.githubusercontent.com/u/1286980?v=3","gravatar_id":"","url":"https://api.github.com/users/kryde","html_url":"https://github.com/kryde","followers_url":"https://api.github.com/users/kryde/followers","following_url":"https://api.github.com/users/kryde/following{/other_user}","gists_url":"https://api.github.com/users/kryde/gists{/gist_id}","starred_url":"https://api.github.com/users/kryde/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kryde/subscriptions","organizations_url":"https://api.github.com/users/kryde/orgs","repos_url":"https://api.github.com/users/kryde/repos","events_url":"https://api.github.com/users/kryde/events{/privacy}","received_events_url":"https://api.github.com/users/kryde/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":{"url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/milestones/1","html_url":"https://github.com/Perl-Critic/Perl-Critic/milestone/1","labels_url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/milestones/1/labels","id":2526907,"number":1,"title":"1.127","description":"","creator":{"login":"petdance","id":41100,"avatar_url":"https://avatars3.githubusercontent.com/u/41100?v=3","gravatar_id":"","url":"https://api.github.com/users/petdance","html_url":"https://github.com/petdance","followers_url":"https://api.github.com/users/petdance/followers","following_url":"https://api.github.com/users/petdance/following{/other_user}","gists_url":"https://api.github.com/users/petdance/gists{/gist_id}","starred_url":"https://api.github.com/users/petdance/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/petdance/subscriptions","organizations_url":"https://api.github.com/users/petdance/orgs","repos_url":"https://api.github.com/users/petdance/repos","events_url":"https://api.github.com/users/petdance/events{/privacy}","received_events_url":"https://api.github.com/users/petdance/received_events","type":"User","site_admin":false},"open_issues":8,"closed_issues":0,"state":"open","created_at":"2017-05-17T13:49:06Z","updated_at":"2017-05-17T14:42:38Z","due_on":null,"closed_at":null},"comments":1,"created_at":"2017-02-02T00:06:40Z","updated_at":"2017-05-17T15:40:49Z","closed_at":null,"body":"In
        debian packaged perlcritic 1.126, if an element contains blank lines then
        the source %r displayed for a violation is wrong.  For example perlcritic
        --severity 1 --verbose=9 foo.pl attached shows\r\n\r\n[ValuesAndExpressions::RequireInterpolationOfMetachars]
        String *may* require interpolation at line 3, near ''''.  (Severity: 1)\r\n\r\nwhereas
        I hoped it would be \"near ''@bar''\".\r\n\r\nSome inputs provoke an unitialized
        value warning too, for example bar.pl attached run similarly.\r\n\r\nIn Perl::Critic::Violation
        I think the split in _line_containing_violation() collapses blank lines since
        \\s* matches newlines.  Some of the flags are trying to affect that are they?  For
        the uninitialized I think $inx would be compared to $#lines not @lines.  I
        get some joy from splitting on newline and trimming leading whitespace later
        like diff below.\r\n\r\n[foo.pl.txt](https://github.com/Perl-Critic/Perl-Critic/files/746470/foo.pl.txt)\r\n[bar.pl.txt](https://github.com/Perl-Critic/Perl-Critic/files/746475/bar.pl.txt)\r\n[Violation.pm.diff.txt](https://github.com/Perl-Critic/Perl-Critic/files/746484/Violation.pm.diff.txt)\r\n"},"comment":{"url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/issues/comments/302131191","html_url":"https://github.com/Perl-Critic/Perl-Critic/issues/734#issuecomment-302131191","issue_url":"https://api.github.com/repos/Perl-Critic/Perl-Critic/issues/734","id":302131191,"user":{"login":"bar","id":88155,"avatar_url":"https://avatars3.githubusercontent.com/u/88155?v=3","gravatar_id":"","url":"https://api.github.com/users/bar","html_url":"https://github.com/bar","followers_url":"https://api.github.com/users/bar/followers","following_url":"https://api.github.com/users/bar/following{/other_user}","gists_url":"https://api.github.com/users/bar/gists{/gist_id}","starred_url":"https://api.github.com/users/bar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bar/subscriptions","organizations_url":"https://api.github.com/users/bar/orgs","repos_url":"https://api.github.com/users/bar/repos","events_url":"https://api.github.com/users/bar/events{/privacy}","received_events_url":"https://api.github.com/users/bar/received_events","type":"User","site_admin":false},"created_at":"2017-05-17T15:40:49Z","updated_at":"2017-05-17T15:40:49Z","body":"@kryde
        mhhh? I don''t think you wanted to at handle me..."}},"public":true,"created_at":"2017-05-17T15:40:49Z","org":{"id":1267180,"login":"Perl-Critic","gravatar_id":"","url":"https://api.github.com/orgs/Perl-Critic","avatar_url":"https://avatars.githubusercontent.com/u/1267180?"}},{"id":"5802584247","type":"IssueCommentEvent","actor":{"id":88155,"login":"bar","display_login":"bar","gravatar_id":"","url":"https://api.github.com/users/bar","avatar_url":"https://avatars.githubusercontent.com/u/88155?"},"repo":{"id":25612324,"name":"MaslowCNC/GroundControl","url":"https://api.github.com/repos/MaslowCNC/GroundCon[...]
