<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-md">
    <h2 class="alt-h1 text-purple text-center">Your business depends on it</h2>
    <p class="alt-lead text-center">Take one day this week to invest in the open source software you use and the community of people that make it great.</p>
  </div>
</div>

<div class="container-md py-6 px-3">
  <h2 class="alt-h2 text-center">Placeholder text here</h2>

  <p class="alt-lead text-gray col-md-10 mx-auto text-center mb-6">
    This placeholder text will list the most important reasons why your company should participate.
  </p>

  <div class="col-sm-6 col-md-12 float-left float-md-none pr-sm-4 pr-md-0 mb-md-4 clearfix">
    <div class="col-12 col-md-6 float-md-left mb-4 pr-md-6">
      <h3 class="alt-h3 mb-1 text-purple">Improve your technology</h3>
      <p class="alt-text-small text-gray mb-4">
        Open source infrastructure is essential to running businesses effectively. Take control rather than relying entirely on others to maintain the software your business depends on.
      </p>

      <h3 class="alt-h3 mb-1 text-purple">Reduce overhead</h3>
      <p class="alt-text-small text-gray mb-4">
        Small, regular contributions to open source allow you to stop maintaining internal versions of open source software in favour of the projects maintaining your patches
      </p>
    </div>

    <div class="d-none d-md-block col-md-6 float-left pl-sm-3">
      <img src="" alt="superfluous visualization here" class="img-responsive">
    </div>
  </div>

  <div class="col-sm-6 col-md-12 float-left float-md-none pl-sm-4 pl-md-0 clearfix">
    <div class="col-12 col-md-6 float-md-right pl-0 pl-md-3 mb-3 mb-sm-0">
      <h3 class="alt-h3 mb-1 text-purple">Build your reputation</h3>
      <p class="alt-text-small text-gray mb-4">
        Build the reputation of your organisation aiding community outreach efforts and hiring.
      </p>

      <h3 class="alt-h3 mb-1 text-purple">Work better together</h3>
      <p class="alt-text-small text-gray mb-4">
        Help your employees learn different ways of working that they can bring back into making your organisation more efficient.
      </p>
    </div>

    <div class="d-none d-md-block col-md-6 float-md-left pr-sm-5">
      <img src="" alt="superfluous visualization here" class="img-responsive">
    </div>
  </div>
</div>
<hr>
<div id="participate" class="container-md py-6 px-3">
  <h2 class="alt-h2">How to start Open Source Friday in your organisation</h2>

  <h3 class="alt-h3">Contribute to a project you use</h3>
  <p class="lead">
    Encourage your managers, coworkers and reports to read the <a href="/contributors">Contributors page</a>
  <br>
  <a href="https://opensource.guide/how-to-contribute/">How to Contribute to Open Source</a> on Open Source Guides if they haven't already contributed to open source.

  If they have but don't currently do so every Friday, provide support, resources and time for them do so.

  <h3 class="alt-h3">Maintain</h3>
  <br>
  If they already maintain open source projects, encourage them to read the <a href="/maintainers">Maintainers page</a> and help others in your organisation contribute to their project.
  </p>

</div>

<div class="bg-gray-light border-top py-6 px-3">
  <div class="container-lg">
    <h2 class="alt-h2 text-center">You're in good company</h2>

    <div class="text-center my-6">
      <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_facebook.svg">
      <img class="company-logo desaturate" src="http://static.matchwork.com/company/logo/USA/new1484895145_logo_small.png">
      <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_github.svg">
      <img class="company-logo smaller desaturate" src="https://enterprise.github.com/assets/logos/sap@2x-b475322c33da2892189d3752490cb238f75af29e85c5d1e0550e8a54577d7b6f.png">
      <img class="company-logo desaturate" src="http://todogroup.org/static/logo_microsoft.svg">
      <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_ibm.svg">
      <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_netflix.svg">
      <img class="company-logo desaturate" src="http://www.underconsideration.com/brandnew/archives/dropbox_logo_detail.png">
      <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_box.svg">
      <img class="company-logo desaturate" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/HP_New_Logo_2D.svg/2000px-HP_New_Logo_2D.svg.png">
      <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_yahoo.svg">
      <img class="company-logo desaturate" src="https://cdn.corporate.walmart.com/resource/assets-bsp3/images/corp/walmart-logo.64968e7648c4bbc87f823a1eff1d6bc7.png">
    </div>

    <div class="clearfix mt-6 pt-6 mb-4 border-top">
      <div class="col-sm-6 float-left mb-4 mb-md-0 pr-sm-3 pr-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://assets-cdn.github.com/images/modules/site/wghaw-mapbox-quote.jpg" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Quote that talks about how some amazing company invests in open source.”</p>
            <footer class="alt-text-small">Jane Smith, Tech Giant</footer>
          </blockquote>
        </div>
      </div>
      <div class="col-sm-6 float-left pl-sm-3 pl-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://assets-cdn.github.com/images/modules/site/wghaw-hubspot-quote.jpg" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Another quote that talks about how Open Source Friday saved my business…and my dog.”</p>
            <footer class="alt-text-small">Erica McGitterson, Bootstraps R Us</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
