<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-md">
    <h2 class="alt-h1 text-center text-blue">Make a contribution</h2>
    <p class="alt-lead text-center text-gray">Open source software is made by people just like you. This Friday, join the community and make one contribution.
  </div>
</div>

<div class="container-lg py-6 my-6 px-3">
  <h2 class="alt-h2 text-center">Get the most out of open source</h2>

  <p class="alt-lead text-gray col-md-10 mx-auto text-center mb-6">
    Open source software is free for you to use and explore. Get involved to perfect your craft and be part of something big.
  </p>
  <div class="clearfix gut-lg">
    <div class="float-left col-md-4">
      <div class="clearfix mb-4 text-md-center">
        <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-future.svg?sn" alt="" aria-hidden></div>
        <div class="overflow-hidden">
          <h3 class="alt-h4 mb-2">Shape the future of&nbsp;software</h3>
          <p class="alt-text-small text-gray">Your contributions help make technology better for everyone, developers and non-developers&nbsp;alike.</p>
        </div>
      </div>
    </div>
    <div class="float-left col-md-4">
      <div class="clearfix mb-4 text-md-center">
        <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-best.svg?sn" alt="" aria-hidden></div>
        <div class="overflow-hidden">
          <h3 class="alt-h4 mb-2">Work with the best in the&nbsp;field</h3>
          <p class="alt-text-small text-gray">Amazing developers contribute to open source. Contribute code to projects that change how software&nbsp;is&nbsp;built.</p>
        </div>
      </div>
    </div>
    <div class="float-left col-md-4">
      <div class="clearfix mb-4 text-md-center">
        <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-grow.svg?sn" alt="" aria-hidden></div>
        <div class="overflow-hidden">
          <h3 class="alt-h4 mb-2">Grow your skills and help&nbsp;others</h3>
          <p class="alt-text-small text-gray">Whatever your skill level, working on open source software is a great way to learn new&nbsp;things.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-shade-gradient border-top py-6 px-3">
  <div id="participate" class="container-md py-6">

    <h2 class="alt-h2 text-center">Contribute on Open Source Friday</h2>
    <p class="alt-lead text-gray text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



    <div class="d-md-table direction-md-rtl my-6 py-6 border-bottom">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <a href="https://opensource.guide/how-to-contribute/">
          <img alt="time illustration" class="img-responsive" src="">
        </a>
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 direction-md-ltr pr-md-6">
        <h3 class="alt-h3">Set aside time</h3>

        <p class="text-gray mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <!-- 2. Include script -->
<script type="text/javascript">(function () {
        if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
        if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
            var h = d[g]('body')[0];h.appendChild(s); }})();
</script>

<!-- 3. Place event data -->
<span class="addtocalendar atc-style-blue">
  <a class="atcb-link btn btn-outline btn-large">
    <%= octicon 'calendar', class: 'mr-2' %>
    Add to Calendar
  </a>
  <var class="atc_event">
      <var class="atc_date_start">2017-05-04 12:00:00</var>
      <var class="atc_date_end">2017-05-04 18:00:00</var>
      <var class="atc_timezone">Europe/London</var>
      <var class="atc_title">Open Source Friday</var>
      <var class="atc_description">Make one contribution to open source today.</var>
      <var class="atc_location">https://ossfriday.com</var>
      <var class="atc_ical_filename">open-source-friday</var>
  </var>
</span>
      </div>
    </div>

    <div class="d-md-table direction-md-ltr my-6 py-6 border-bottom">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <a href="https://opensource.guide/how-to-contribute/">
          <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/contribute.png">
        </a>
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 direction-md-ltr pl-md-6">
        <h3 class="alt-h3">Learn to contribute</h3>

        <p class="text-gray mb-4">
          Learn what it means to contribute, how to find a project, how to orient yourself to a new project, and how to make a contribution.
        </p>

        <p>
          <a class="btn btn-outline btn-large" href="https://opensource.guide/how-to-contribute/">
            <%= octicon 'book', height: 18, class: 'mr-2' %>
            Read the guide
          </a>
        </p>
      </div>
    </div>

    <h3 class="alt-h3">Find a project</h3>
    <p class="lead text-gray">
      Contributing to open source happens at all levels, across projects. You don’t need to overthink what exactly your first contribution will be, or how it will look.
    </p>

    <div class="d-md-flex gut-md my-6">
      <div class="col-md-4">
        <h4 class="alt-h4 mb-2">A project you already use</h4>
        <p class="text-gray">Start by thinking about the projects you already use, or want to use. The projects you’ll actively contribute to are the ones you find yourself coming back to.</p>
      </div>
      <div class="col-md-4">
        <h4 class="alt-h4 mb-2">An issue you can fix</h4>

        <p class="text-gray">Find a project that is looking for your help on one of these sites:</p>

        <ul class="ml-3">
          <li><a href="http://www.firsttimersonly.com/">First Timers Only</a></li>
          <li><a href="https://yourfirstpr.github.io/">Your First PR</a></li>
          <li><a href="https://www.codetriage.com/">CodeTriage</a></li>
          <li><a href="http://up-for-grabs.net/">Up For Grabs</a></li>
          <li><a href="https://contributor.ninja">Contributor-ninja</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="alt-h4 mb-2">A welcoming community</h4>

        <p>
          Find a project that has a history and reputation for being welcoming in the
          <a href="https://github.com/showcases/great-for-new-contributors">Great for new contributors</a> showcase.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-light border-top py-6 px-3">
  <div class="container-lg">
    <h2 class="alt-h2 mt-6 text-center">These people did it and so can you.</h2>

    <div class="clearfix mt-6 pt-6 mb-4 border-top">
      <div class="col-sm-6 float-left mb-4 mb-md-0 pr-sm-3 pr-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://assets-cdn.github.com/images/modules/site/wghaw-mapbox-quote.jpg" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Quote from someone that made their first contribution to open source.”</p>
            <footer class="alt-text-small">Jane Smith, Columbus OH</footer>
          </blockquote>
        </div>
      </div>
      <div class="col-sm-6 float-left pl-sm-3 pl-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://assets-cdn.github.com/images/modules/site/wghaw-hubspot-quote.jpg" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Another quote that talks about how Open Source Friday saved my life…and my dog.”</p>
            <footer class="alt-text-small">Juan Perez, Bogotá Columbia</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
