<h3>Why contribute to open source?</h3>
<p class="lead">
Open source software is open for anyone with an internet connection to view, use and modify. If you can write code, answer questions, organise information or write well you can help make an open source project better. You're almost certainly using at least some open source to read this page right now: help us make it better!
</p>

<h3>How to contribute to open source?</h3>
<p class="lead">
Find a project, for example on <a href="https://github.com">GitHub</a>, which describes ways to help in its <code>README</code> file. If you're struggling to find a project: pick something you use or from <a href="https://github.com/showcases/great-for-new-contributors">GitHub's Great for new contributors showcase</a>. We'll be providing tools on this site in future to help you find things to work on.
</p>

<p class="lead">
See <a href="https://opensource.guide/how-to-contribute/">How to Contribute to Open Source</a> on Open Source Guides for more information on why and how to contribute to open source.
</p>
