<div class="bg-gray mb-6 border-bottom jumbotron">
  <div class="container-md">
    <h2 class="alt-h1 text-red text-center">Make a contribution</h2>
    <p class="alt-lead text-center">Learn more about how software is built, work with people all over the world, build your reputation, and improve the software you use.
  </div>
</div>

<div class="container-md">
  <h2 class="alt-h2">Why contribute to open source?</h2>
  <p class="lead">
  Open source software is open for anyone with an internet connection to view, use and modify. If you can write code, answer questions, organise information or write well you can help make an open source project better. You're almost certainly using at least some open source to read this page right now: help us make it better!
  </p>

  <h2 class="alt-h2">How to contribute to open source?</h2>
  <p class="lead">
    Find a project, for example on <a href="https://github.com">GitHub</a>, which describes ways to help in its <code>README</code> file. If you're struggling to find a project: pick something you use or from <a href="https://github.com/showcases/great-for-new-contributors">GitHub's Great for new contributors showcase</a>. We'll be providing tools on this site in future to help you find things to work on.
  </p>

  <div class="d-md-table direction-md-rtl">
    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/how-to-contribute/">
        <img class="card" src="https://opensource.guide/assets/images/cards/contribute.png">
      </a>
    </div>
    <div class="d-md-table-cell v-align-middle col-md-6 text-center text-md-left direction-md-ltr">
      <h3 class="alt-h3 mb-2">Ready to contribute?</h3>
      <p class="lead text-gray mb-4 pr-md-6">
        See <a href="https://opensource.guide/how-to-contribute/">How to Contribute to Open Source</a> on Open Source Guides for more information on why and how to contribute to open source.
      </p>

      <p>
        <a class="btn btn-outline-red btn-large">
          <%= octicon 'book', height: 18, class: 'mr-2' %>
          Read the guide
        </a>
      </p>
    </div>
  </div>
</div>

<div class="bg-gray-light border-top">
  <div class="container-md">
    <h2 class="alt-h2 mt-6 text-center">This people did it and so can you.</h2>

    <p class="my-6">…</p>
  </div>
</div>
