<header class="jumbotron text-center bg-gray-light mb-6 border-bottom">
  <div class="container position-relative">
    <h1 class="alt-h1">Open Source Friday</h1>
    <p class="alt-lead text-gray mb-md-5 col-md-8 mx-auto"><%= @subtitle || "Contribute to open source every Friday, and help new contributors, maintainers, and companies do the same." %></p>
  </div>
</header>

<div class="container-lg">
  <p class="lead my-6">Open Source Friday is a movement to encourage people to contribute to open source every Friday. We commit as contributors to submit at least one contribution on an existing open source project, as maintainers to review and merge incoming contributions and as companies to encourage and help our managers, coworkers and reports to make a contribution.</p>

  <hr class="triband-hr my-4">

  <div class="clearfix d-md-flex gut-md my-6">
    <div class="col-md-4">
      <h2 class="alt-h3 my-2">
        <a href="/contributors" class="text-blue">Contributors <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
      </h2>
      <p class="text-gray alt-body-font">Learn more about how software is built, work with people all over the world, build your reputation, and improve the software you use.</p>
    </div>

    <div class="col-md-4">
      <h2 class="alt-h3 my-2">
        <a href="/maintainers" class="text-red">Maintainers <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
      </h2>
      <p class="text-gray alt-body-font">Having structure and a process for regular contributions on the same day allows projects to have a flow for accepting and encouraging regular new contributions.</p>
    </div>

    <div class="col-md-4">
      <h2 class="alt-h3 my-2">
        <a href="/companies" class="text-purple">Companies <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
      </h2>
      <p class="text-gray alt-body-font">Every company uses open source software. Invest in the technology you depend on and fix issues affecting your business.</p>
    </div>
  </div>

  <hr class="triband-hr my-4">

</div>
