<p class="lead">Open Source Friday is a movement to encourage people to contribute to open source every Friday. Submit at least one contribution on an existing open source project, review and merge incoming contributions, and encourage and help our managers and coworkers to make a contribution.</p>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Contributors</h3>
      </div>
      <div class="panel-body">Contributing to open source gives you the chance to learn more about how software is built, work with people all over the world, build your reputation, and improve the software that you use.</div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Maintainers</h3>
      </div>
      <div class="panel-body">Having structure and a process for regular contributions on the same day allows projects to have a flow for accepting and encouraging regular new contributions.</div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Companies</h3>
      </div>
      <div class="panel-body">Every company–directly or indirectly–uses and depends on open source software. Encouraging employees to regularly contribute to open source allows them to fix issues affecting your business and let's them learn new ways to work together to solve problems through contributing to open source.</div>
    </div>
  </div>
</div>
