<p class="lead">OSS Friday is a movement to encourage people to contribute to open source every Friday. Every Friday we commit as contributors to submit at least one contribution on an existing open source project, as maintainers to review and merge incoming contributions and as companies to encourage and help our managers, coworkers and reports to make a contribution.</p>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Contributors</h3>
      </div>
      <div class="panel-body">Learning to contribute regularly to open source gives you the chance to learn more about how software is built, work with people all over the world, build your reputation and be empowered to be able to make the changes to software you use that you want to see.</div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Maintainers</h3>
      </div>
      <div class="panel-body">There's many more people who want to contribute to open source than those who regularly do so. Having structure and a process for regular contributions on the same day allows projects to have a flow for accepting and encouraging regular new contributions.</div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Companies</h3>
      </div>
      <div class="panel-body">Most companies (directly or indirectly) use open source software. Encouraging employees to regularly contribute to OSS allows them to fix issues affecting your business and let's them learn new ways to work together to solve problems through contributing to open source.</div>
    </div>
  </div>
</div>
