<div class="container">
  <p class="lead my-6">Open Source Friday is a movement to encourage people to contribute to open source every Friday. We commit as contributors to submit at least one contribution on an existing open source project, as maintainers to review and merge incoming contributions and as companies to encourage and help our managers, coworkers and reports to make a contribution.</p>

  <hr class="triband-hr my-4">

  <div class="clearfix columns my-6">
    <div class="one-third column">
      <h2 class="alt-h3 my-2">
        <a href="/contributors" class="text-blue">Contributors <%= octicon 'chevron-right', height: '22', class: 'text-inherit' %></a>
      </h2>
      <p class="text-gray alt-body-font">Learn more about how software is built, work with people all over the world, build your reputation, and improve the software you use.</p>
    </div>

    <div class="one-third column">
      <h2 class="alt-h3 my-2">
        <a href="/maintainers" class="text-red">Maintainers <%= octicon 'chevron-right', height: '22', class: 'text-inherit' %></a>
      </h2>
      <p class="text-gray alt-body-font">Having structure and a process for regular contributions on the same day allows projects to have a flow for accepting and encouraging regular new contributions.</p>
    </div>

    <div class="one-third column">
      <h2 class="alt-h3 my-2">
        <a href="/companies" class="text-purple">Businesses <%= octicon 'chevron-right', height: '22', class: 'text-inherit' %></a>
      </h2>
      <p class="text-gray alt-body-font">Every company uses open source software. Invest in the technology you depend on and fix issues affecting your business.</p>
    </div>
  </div>

  <hr class="triband-hr my-4">

  <h2 class="alt-h2 mt-6 mb-4">You're in good company…</h2>

  <div class="text-center ">
    <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_facebook.svg">
    <img class="company-logo desaturate" src="http://seeklogo.com/images/B/box-logo-BF13409756-seeklogo.com.gif">
    <img class="company-logo desaturate" src="http://static.matchwork.com/company/logo/USA/new1484895145_logo_small.png">
    <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_github.svg">
    <img class="company-logo desaturate" src="https://enterprise.github.com/assets/logos/sap@2x-b475322c33da2892189d3752490cb238f75af29e85c5d1e0550e8a54577d7b6f.png">
    <img class="company-logo desaturate" src="https://blogs.microsoft.com/wp-content/uploads/2012/08/8867.Microsoft_5F00_Logo_2D00_for_2D00_screen.jpg">
    <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_ibm.svg">
    <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_netflix.svg">
    <img class="company-logo desaturate" src="http://www.underconsideration.com/brandnew/archives/dropbox_logo_detail.png">
    <img class="company-logo desaturate" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/HP_New_Logo_2D.svg/2000px-HP_New_Logo_2D.svg.png">
    <img class="company-logo smaller desaturate" src="http://todogroup.org/static/logo_yahoo.svg">
    <img class="company-logo desaturate" src="https://cdn.corporate.walmart.com/resource/assets-bsp3/images/corp/walmart-logo.64968e7648c4bbc87f823a1eff1d6bc7.png">
  </div>

</div>
