<header class="jumbotron text-center bg-gray-light mb-6 border-bottom px-3">
  <div class="container-lg position-relative">
    <h1 class="alt-h1">Open Source Friday</h1>
    <p class="alt-lead text-gray mb-md-5 col-md-8 mx-auto">Once a week, every week. Take time to invest in the open source software you use and love.</p>
  </div>
</header>

<div class="container-md py-6 py-3 px-3">
  <h2 class="alt-h2 text-purple text-center">Your business depends on it</h2>

  <p class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    Companies need open source software to run effectively.
  </p>

  <div class="col-sm-6 col-md-12 float-left float-md-none pr-sm-4 pr-md-0 mb-md-4 clearfix">
    <div class="col-12 col-md-6 float-md-left mb-4 pr-md-6">
      <h3 class="alt-h3 mb-1">Attract and retain talent</h3>
      <p class="alt-text-small text-gray mb-4">
        Employees that work on open source boost their, and their employer's, reputation.
      </p>

      <h3 class="alt-h3 mb-1">Work better together</h3>
      <p class="alt-text-small text-gray mb-4">
        Open source development models are at the forefront of software collaboration. Take what you learn from open source and use it to improve quality, speed, and transparency at your organization.
      </p>

    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/how-to-contribute/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/contribute.png">
      </a>
    </div>
  </div>

  <div class="col-sm-6 col-md-12 float-left float-md-none pl-sm-4 pl-md-0 clearfix">
    <div class="col-12 col-md-6 float-md-right pl-0 pl-md-3 mb-3 mb-sm-0">
      <h3 class="alt-h3 mb-1">Improve your technology</h3>
      <p class="alt-text-small text-gray mb-4">
        Take control by contributing directly, rather than relying on others to maintain the software your business depends on.
      </p>

      <h3 class="alt-h3 mb-1">Reduce overhead</h3>
      <p class="alt-text-small text-gray mb-4">
        Regular contributions to open source save money and developer hours by reducing the custom software you need to maintain.
      </p>

    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/legal/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/legal.png">
      </a>
    </div>
  </div>
</div>

<hr>


<div id="participate" class="container-md py-6 px-3">
  <h2 class="alt-h2 text-center">Open Source Friday in your organization</h2>

  <p class="alt-lead text-gray text-center ">Improving your organisation is too important to be left unplanned</p>

  <div class="d-md-table direction-md-rtl py-6">
    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <script type="text/javascript">
        (function() {
          if (window.addtocalendar)
            if (typeof window.addtocalendar.start == "function")
              return;
          if (window.ifaddtocalendar == undefined) {
            window.ifaddtocalendar = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript';
            s.charset = 'UTF-8';
            s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://addtocalendar.com/atc/1.5/atc.min.js';
            var h = d[g]('body')[0];
            h.appendChild(s);
          }
        })();
      </script>
      <span class="addtocalendar atc-style-blue">
        <a class="atcb-link btn btn-outline btn-large">
          <%= octicon 'calendar', class: 'mr-2' %>
          Add to Calendar
        </a>

        <var class="atc_event">
            <var class="atc_date_start">2017-05-04 12:00:00</var>
            <var class="atc_date_end">2017-05-04 18:00:00</var>
            <var class="atc_timezone">Europe/London</var>
            <var class="atc_title">Open Source Friday</var>
            <var class="atc_description">Encourage everyone to work on open source today.</var>
            <var class="atc_location">https://ossfriday.com</var>
            <var class="atc_ical_filename">open-source-friday</var>
        </var>
      </span>
    </div>
    <div class="d-md-table-cell v-align-middle col-md-6 direction-md-ltr pr-md-6">
      <h3 class="alt-h3">Set aside time</h3>

      <p class="text-gray mb-4">
        Encourage your managers, employees, and coworkers to spend at least two hours on one day every week to work on the open source projects your business already uses.
      </p>
    </div>
  </div>
  <div class="col-sm-6 col-md-12 float-left float-md-none pl-sm-4 pl-md-0 clearfix">
    <div class="col-12 col-md-6 float-md-right pl-0 pl-md-3 mb-3 mb-sm-0">
      <h3 class="alt-h3 mb-1">Learn about how it works</h3>
      <p class="alt-text-small text-gray mb-4">
        Learn how to develop policies that let employees contribute to open source.
      </p>

    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/legal/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/legal.png">
      </a>
    </div>
  </div>

</div>

<div class="bg-gray-light border-top py-6 px-3">
  <div class="container-lg">
    <h2 class="alt-h2 text-center">You're in good company</h2>

    <div class="text-center my-6 py-6 text-gray-light" style="">
      [QUOTE FROM A COMPANY ON WHY CONTRIBUTING TO OPEN SOURCE IS IMPORTANT]
    </p>

    <div class="text-center my-6 py-6 alt-h2 text-gray-light" style="">
      [COMPANY LOGOS HERE]
    </div>

    <div class="clearfix mt-6 pt-6 mb-4 border-top">
      <div class="col-sm-6 float-left mb-4 mb-md-0 pr-sm-3 pr-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://api.adorable.io/avatars/285/ossfriday.png" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Quote that talks about how some amazing company invests in open source.”</p>
            <footer class="alt-text-small">Jane Smith, Tech Giant</footer>
          </blockquote>
        </div>
      </div>
      <div class="col-sm-6 float-left pl-sm-3 pl-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://api.adorable.io/avatars/285/ossfriday2.png" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Another quote that talks about how Open Source Friday saved my business…and my dog.”</p>
            <footer class="alt-text-small">Erica McGitterson, Bootstraps R Us</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-6">
    <div class="clearfix d-md-flex gut-md my-6">
      <div class="col-md-6">
        <h2 class="alt-h3 my-2">
          <a href="/contributors" class="text-blue">Contributors <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
        </h2>
        <p class="text-gray alt-body-font">Learn from people all over the world how the software you already use is built and build your reputation in the process.</p>
      </div>

      <div class="col-md-6">
        <h2 class="alt-h3 my-2">
          <a href="/maintainers" class="text-red">Maintainers <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
        </h2>
        <p class="text-gray alt-body-font">Get your project ready for the flow of accepting and encouraging regular new contributors.</p>
      </div>
    </div>
  </div>
</div>
