<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-md">
    <h2 class="alt-h1 text-center text-red">Help others pitch in</h2>
    <p class="alt-lead text-center text-gray">Once a week, give your software project some love and make it easier to others contribute.</p>
  </div>
</div>

<div class="container-md py-6 py-3 px-3">
  <h2 class="alt-h2 text-purple text-center">Help users discover your project</h2>

  <p class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    Creating a project is only the beginning. Spread the word about your work.
  </p>

  <div class="col-sm-6 col-md-12 float-left float-md-none pr-sm-4 pr-md-0 mb-md-4 clearfix">
    <div class="col-12 col-md-6 float-md-left mb-4 pr-md-6">
      <h3 class="alt-h3 mb-1">Reduce your workload</h3>
      <p class="alt-text-small text-gray mb-4">
        Ensure your project's README file details what your project does, whether it wants contributions, its scope and how to contribute.
      </p>

      <h3 class="alt-h3 mb-1">Promote your work</h3>
      <p class="alt-text-small text-gray mb-4">
         Consider creating a Twitter account, blog posts and/or webpage for your project.
      </p>
    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/finding-users/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/finding.png">
      </a>
    </div>
  </div>
</div>

<hr>

<div id="participate" class="container-md py-6 px-3">
  <h2 class="alt-h2 text-center">Grow your community</h2>

  <p class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    Everybody was new once. Help your community help themselves.
  </p>
  <div class="col-sm-6 col-md-12 float-left float-md-none pl-sm-4 pl-md-0 clearfix">
    <div class="col-12 col-md-6 float-md-right pl-0 pl-md-3 mb-3 mb-sm-0">
      <h3 class="alt-h3 mb-1">Document everything</h3>
      <p class="alt-text-small text-gray mb-4">
        Ensure your project's documentation is clear on how to use and contribute to the project.
      </p>

      <h3 class="alt-h3 mb-1">Get help</h3>
      <p class="alt-text-small text-gray mb-4">
        Look out for good potential contributors, maintainers to share ownership of your project. Particularly welcome first-time contributors.
      </p>
    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/building-community/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/building.png">
      </a>
    </div>
  </div>
</div>

<hr>

<div class="container-md py-6 py-3 px-3">
  <h2 class="alt-h2 text-purple text-center">Improve your workflow</h2>

  <p class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    Learn from other maintainers on how to be more effective.
  </p>

  <div class="col-sm-6 col-md-12 float-left float-md-none pr-sm-4 pr-md-0 mb-md-4 clearfix">
    <div class="col-12 col-md-6 float-md-left mb-4 pr-md-6">
      <h3 class="alt-h3 mb-1">Set Boundaries</h3>
      <p class="alt-text-small text-gray mb-4">
        Decide on what the scope of the project is and set clear boundaries for the project and yourself. Learn to say no.
      </p>

      <h3 class="alt-h3 mb-1">Automation</h3>
      <p class="alt-text-small text-gray mb-4">
         Automate as much as possible through tests and other checks to save yourself time.
      </p>
    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/best-practices/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/best-practices.png">
      </a>
    </div>
  </div>
</div>

<div id="participate" class="container-md py-6 px-3">
  <h2 class="alt-h2 text-center">Get ready for Open Source Friday</h2>

  <p class="alt-lead text-gray text-center ">Investing time now will save you time later</p>

  <div class="d-md-table direction-md-rtl py-6">
    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <script type="text/javascript">
        (function() {
          if (window.addtocalendar)
            if (typeof window.addtocalendar.start == "function")
              return;
          if (window.ifaddtocalendar == undefined) {
            window.ifaddtocalendar = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript';
            s.charset = 'UTF-8';
            s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://addtocalendar.com/atc/1.5/atc.min.js';
            var h = d[g]('body')[0];
            h.appendChild(s);
          }
        })();
      </script>
      <span class="addtocalendar atc-style-blue">
        <a class="atcb-link btn btn-outline btn-large">
          <%= octicon 'calendar', class: 'mr-2' %>
          Add to Calendar
        </a>

        <var class="atc_event">
            <var class="atc_date_start">2017-05-04 12:00:00</var>
            <var class="atc_date_end">2017-05-04 18:00:00</var>
            <var class="atc_timezone">Europe/London</var>
            <var class="atc_title">Open Source Friday</var>
            <var class="atc_description">Make it easier to contribute to open source today.</var>
            <var class="atc_location">https://ossfriday.com</var>
            <var class="atc_ical_filename">open-source-friday</var>
        </var>
      </span>
    </div>
    <div class="d-md-table-cell v-align-middle col-md-6 direction-md-ltr pr-md-6">
      <h3 class="alt-h3">Set aside time</h3>

      <p class="text-gray mb-4">
        Spend at least two hours on one day every week to make your projects better for new contributors.
      </p>
    </div>
  </div>
</div>

<div class="bg-gray-light border-top py-6 px-3">
  <div class="container-lg">
    <h2 class="alt-h2 mt-6 text-center">These people did it and so can you.</h2>

    <div class="clearfix mt-6 pt-6 mb-4 border-top">
      <div class="col-sm-6 float-left mb-4 mb-md-0 pr-sm-3 pr-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://api.adorable.io/avatars/285/ossfriday.png" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Quote of some wisdom from a maintainer”</p>
            <footer class="alt-text-small">Jane Smith, Homebrew</footer>
          </blockquote>
        </div>
      </div>
      <div class="col-sm-6 float-left pl-sm-3 pl-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://api.adorable.io/avatars/285/ossfriday2.png" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Another quote that talks about how Open Source Friday improved my project.”</p>
            <footer class="alt-text-small">Juan Perez, Strap</footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="pt-6">
      <div class="clearfix d-md-flex gut-md my-6">
        <div class="col-md-6">
          <h2 class="alt-h3 my-2">
            <a href="/businesses" class="text-red">Businesses <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
          </h2>
          <p class="text-gray alt-body-font">Your business runs on open source. Learn how to get involved.</p>
        </div>
        <div class="col-md-6">
          <h2 class="alt-h3 my-2">
            <a href="/" class="text-blue">Contributors <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
          </h2>
          <p class="text-gray alt-body-font">Learn from people all over the world how the software you already use is built and build your reputation in the process.</p>
        </div>
      </div>
    </div>
  </div>
</div>
