<h3>Why participate in OSS Friday?</h3>
<p class="lead">
Maintaining open source software is often a thankless job. So first: thank you for all you do for us and the entire technology sector. One of the long-term investments you can make as a maintainer is investing your time in making it easier for others to contribute to your project. If you do this effectively you will eventually find you're able to reduce your workload and build better software with help from your community.
</p>

<h3>How to make your project welcoming to contributors</h3>
<p class="lead">
We'll be providing tools on this site in future to give contributors things to work on. For now, ensure your project's <code>README</code> file details whether your project wants contributions, the project's scope and how to contribute to it.
</p>

<p class="lead">
  See <a href="https://opensource.guide/finding-users/">Finding Users For Your Project</a>, <a href="https://opensource.guide/building-community/">Building Welcoming Communities</a> and <a href="https://opensource.guide/best-practices/">Best Practices for Maintainers</a>  on Open Source Guides for more information.
</p>
