<div class="jumbotron text-center bg-gray mb-6 border-bottom px-3">
  <div class="container-md">
    <h2 class="alt-h1 text-red">Build software with help from others.</h2>
    <p class="alt-lead text-gray">Once a week, give your software project some love and make it easier to others contribute.</p>
    <% unless current_user %>
      <%= link_to "Sign up with GitHub", user_github_omniauth_authorize_path, class: "btn btn-large btn-primary", role: "button" %>
    <% end %>
  </div>
</div>

<div class="container-md py-6 py-3 px-3">
  <h2 class="alt-h2 text-purple text-center">Help people discover your project</h2>

  <p class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    Creating a project is only the beginning. Why not spread the word?
  </p>

  <div class="col-sm-6 col-md-12 float-left float-md-none pr-sm-4 pr-md-0 mb-md-4 clearfix">
    <div class="col-12 col-md-6 float-md-left mb-4 pr-md-6">
      <h3 class="alt-h3 mb-1">Reduce your workload</h3>
      <p class="alt-text-small text-gray mb-4">
        Ensure your project's README file details what your project does, its scope and contribution needs, and how to contribute.
      </p>

      <h3 class="alt-h3 mb-1">Promote your work</h3>
      <p class="alt-text-small text-gray mb-4">
         Consider creating a Twitter account, blog posts and website for your project.
      </p>
    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/finding-users/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/finding.png">
      </a>
    </div>
  </div>
</div>

<hr>

<div id="participate" class="container-md py-6 px-3">
  <h2 class="alt-h2 text-center">Grow your community</h2>

  <p class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    Everybody was new once. Ease someone else's first-time contribution jitters.
  </p>
  <div class="col-sm-6 col-md-12 float-left float-md-none pl-sm-4 pl-md-0 clearfix">
    <div class="col-12 col-md-6 float-md-right pl-0 pl-md-3 mb-3 mb-sm-0">
      <h3 class="alt-h3 mb-1">Document everything</h3>
      <p class="alt-text-small text-gray mb-4">
        Ensure your documentation on how to use and contribute to your project is clear.
      </p>

      <h3 class="alt-h3 mb-1">Get help</h3>
      <p class="alt-text-small text-gray mb-4">
        Look out for promising potential contributors or maintainers to share ownership of your project. Make an effort to welcome first-time contributors in particular.
      </p>
    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/building-community/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/building.png">
      </a>
    </div>
  </div>
</div>

<hr>

<div class="container-md py-6 py-3 px-3">
  <h2 class="alt-h2 text-purple text-center">Improve your workflow</h2>

  <p class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    Learn from other maintainers on how to be more effective.
  </p>

  <div class="col-sm-6 col-md-12 float-left float-md-none pr-sm-4 pr-md-0 mb-md-4 clearfix">
    <div class="col-12 col-md-6 float-md-left mb-4 pr-md-6">
      <h3 class="alt-h3 mb-1">Set boundaries</h3>
      <p class="alt-text-small text-gray mb-4">
        Decide on what the scope of the project is and set clear boundaries for yourself. Saying no is as important as saying yes.
      </p>

      <h3 class="alt-h3 mb-1">Automation</h3>
      <p class="alt-text-small text-gray mb-4">
         Automate as much as possible through tests and other checks to save yourself time.
      </p>
    </div>

    <div class="d-md-table-cell v-align-middle col-md-6 text-center">
      <a href="https://opensource.guide/best-practices/">
        <img class="card img-responsive" src="https://opensource.guide/assets/images/cards/best-practices.png">
      </a>
    </div>
  </div>
</div>

<div id="participate" class="container-md py-6 px-3">
  <h2 class="alt-h2 text-center">Get ready for Open Source Friday</h2>

  <div class="text-center">
    <p class="alt-lead text-gray">Spend time now to save time later.</p>
    <% unless current_user %>
      <%= link_to "Sign up with GitHub", user_github_omniauth_authorize_path, class: "btn btn-large btn-primary", role: "button" %>
    <% end %>
  </div>
</div>

<div class="bg-gray-light border-top py-6 px-3">
  <div class="container-lg">
    <h2 class="alt-h2 mt-6 text-center">You're in good company.</h2>

    <div class="clearfix mt-6 pt-6 mb-4 border-top">
      <div class="col-sm-6 float-left mb-4 mb-md-0 pr-sm-3 pr-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://api.adorable.io/avatars/285/ossfriday.png" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Quote of some wisdom from a maintainer”</p>
            <footer class="alt-text-small">Jane Smith, Homebrew</footer>
          </blockquote>
        </div>
      </div>
      <div class="col-sm-6 float-left pl-sm-3 pl-lg-4">
        <div>
          <div class="d-table-cell v-align-top pr-3">
            <img src="https://api.adorable.io/avatars/285/ossfriday2.png" alt="" width="50" height="50" style="border-radius:25px;">
          </div>
          <blockquote class="d-table-cell v-align-top text-gray">
            <p class="alt-mono-font alt-text-small">“Another quote that talks about how Open Source Friday improved my project.”</p>
            <footer class="alt-text-small">Juan Perez, Strap</footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="pt-6">
      <div class="clearfix d-md-flex gut-md my-6">
        <div class="col-md-6">
          <h2 class="alt-h3 my-2">
            <a href="/businesses" class="text-red">Businesses <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
          </h2>
          <p class="text-gray alt-body-font">Your business runs on open source. Learn how to get involved.</p>
        </div>
        <div class="col-md-6">
          <h2 class="alt-h3 my-2">
            <a href="/" class="text-blue">Contributors <%= octicon 'chevron-right', height: '26', class: 'text-inherit' %></a>
          </h2>
          <p class="text-gray alt-body-font">Learn from people all over the world how the software you already use is built and build your reputation in the process.</p>
        </div>
      </div>
    </div>
  </div>
</div>
