<div id="mc_embed_signup">
<form action="//github.us11.list-manage.com/subscribe/post?u=9d7ced8c4bbd6c2f238673f0f&amp;id=b514344ba3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <h3 class="h4 mt-3">Stay in touch</h3>
    <p>Be the first to hear about GitHub's latest open source tips and resources.</p>
    <div class="mc-field-group col-12">
        <label for="mce-EMAIL" class="d-none">Email Address</label>
        <input type="email" placeholder="Email Address" name="EMAIL" class="form-input required email d-block py-2 px-3 mb-2" id="mce-EMAIL" autocomplete="home email" style="width:100%">
        <input type="checkbox" value="4" name="group[9617][4]" id="mce-group[9617]-9617-2" checked="checked" style="display:none">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline">
    </div>
    <div id="mce-responses" class="clear">
        <div class="" id="mce-error-response" style="display:none"></div>
        <div class="" id="mce-success-response" style="display:none"></div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d7ced8c4bbd6c2f238673f0f_b514344ba3" tabindex="-1" value=""></div>
    </div>
</form>
</div>
</div>
