<div class="py-4 border-bottom px-3">
  <div class="container-md clearfix">
    <h1 class="alt-h4 float-sm-left">
      <a class="text-inherit" href="/">Open Source Friday</a>
    </h1>

    <nav class="float-sm-right alt-h4">
      <a class="text-blue" href="/contributors">Contributors</a>
      <a class="ml-4 text-red" href="/maintainers">Maintainers</a>
      <a class="ml-4 text-purple" href="/companies">Businesses</a>
    </nav>
  </div>
</div>
